.classpath
Dockerfile
.factorypath
.git
.gitignore
.mvn
mvnw
mvnw.cmd
.project
README.md
.settings
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/.*.jar
target/.*.original
target/test-classes
src/main/angular/
